<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            Nuevo Usuario
        </div>
    </div>

    <div class="card-body">

        <form [formGroup]="form" (ngSubmit)="submit()" class="needs-validation" novalidate>
            <div class="form-row">
                <!-- Name -->
                <div class="form-group col-md-6">
                    <label for="name">Name:</label>
                    <input type="text" formControlName="name" class="form-control"
                        [class.is-invalid]="form.get('name').invalid && (form.get('name').dirty || submitted)"
                        required />
                    <div class="invalid-feedback">
                        <small *ngIf="form.get('name').hasError('required')">Name is required.</small>
                    </div>
                </div>

                <!-- Last Name -->
                <div class="form-group col-md-6">
                    <label for="last_name">Last Name:</label>
                    <input type="text" formControlName="last_name" class="form-control"
                        [class.is-invalid]="form.get('last_name').invalid && (form.get('last_name').dirty || submitted)"
                        required />
                    <div class="invalid-feedback">
                        <small *ngIf="form.get('last_name').hasError('required')">Last Name is required.</small>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <!-- Email -->
                <div class="form-group col-md-6">
                    <label for="email">Email:</label>
                    <input type="email" formControlName="email" class="form-control"
                        [class.is-invalid]="form.get('email').invalid && (form.get('email').dirty || submitted)"
                        required />
                    <div class="invalid-feedback">
                        <small *ngIf="form.get('email').hasError('required')">Email is required.</small>
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group col-md-6">
                    <label for="password">Password:</label>
                    <input type="password" formControlName="password" class="form-control"
                        [class.is-invalid]="form.get('password').invalid && (form.get('password').dirty || submitted)"
                        required />
                    <div class="invalid-feedback">
                        <small *ngIf="form.get('password').hasError('required')">Password is required.</small>
                    </div>
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <label for="password_confirmation">Confirm Password:</label>
                <input type="password" formControlName="password_confirmation" class="form-control"
                    [class.is-invalid]="form.get('password_confirmation').invalid && (form.get('password_confirmation').dirty || submitted)"
                    required />
                <div class="invalid-feedback">
                    <small *ngIf="form.get('password_confirmation').hasError('required')">Confirmation is
                        required.</small>
                    <small *ngIf="form.hasError('mustMatch', 'password_confirmation')">Passwords must match.</small>
                </div>
            </div>

            <div class="form-row">
                <!-- Phone -->
                <div class="form-group col-md-6">
                    <label for="phone">Phone:</label>
                    <input type="text" formControlName="phone" class="form-control" />
                </div>

                <!-- Address -->
                <div class="form-group col-md-6">
                    <label for="address">Address:</label>
                    <textarea formControlName="address" class="form-control"></textarea>
                </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary" [disabled]="disableSubmitButton">Submit</button>
        </form>



    </div>
</div>